# Ignore all .env files anywhere in the repo
.env
.env.*

# Ignore env files inside any folder
**/.env
**/.env.*

# Ignore common env variants
*.env
node_modules/
target/
.next/
out/

glyph_landing_page.html