@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Reset or Styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
